@-webkit-keyframes bounce-shadow {
  0%    { text-shadow: 15px 15px 10px rgba(255,215,0,.5) }
  100%  { text-shadow: 0 0 rgba(255,215,0,.5) }
}
@-moz-keyframes bounce-shadow {
  0%    { text-shadow: 15px 15px 10px rgba(255,215,0,.5) }
  100%  { text-shadow: 0 0 rgba(255,215,0,.5) }
}
@keyframes bounce-shadow {
  0%    { text-shadow: 15px 15px 10px rgba(255,215,0,.5) }
  100%  { text-shadow: 0 0 rgba(255,215,0,.5) }
}


body > header {
  background: $header-bg;
  h1 {
    display: inline-block;
    margin: 0;
    text-shadow: 15px 15px 10px rgba(255,215,0,.5);

    -webkit-animation: bounce-shadow 1s infinite alternate;
    -moz-animation: bounce-shadow 1s infinite alternate;
    animation: bounce-shadow 1s infinite alternate;

    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
      padding: 0.5em;
    }
  }
  h2 {
    margin: .2em 0 0;
    @extend .sans;
    font-size: 1em;
    color: $subtitle-color;
    font-weight: normal;
  }
}
