table caption {
  font-size: larger;
  padding-top: 2em;
}
table, th, td {
  border: 1px solid darkblue;
  padding: 0.25em 0.5em;
}
table.tableblock.grid-all {
  border-collapse: collapse;
}
table thead {
  background: darkblue;
  text-align: center;
}
table thead tr th {
    color: lightblue;
}

.ulist p {
  margin-bottom: 0.4rem;
}
/*
// leveraged http://www.sassmeister.com/ to "convert" my original SCSS for now
@-webkit-keyframes bounce-shadow {
  0% {
    text-shadow: 15px 15px 10px rgba(255, 215, 0, 0.5);
  }
  100% {
    text-shadow: 0 0 rgba(255, 215, 0, 0.5);
  }
}

@-moz-keyframes bounce-shadow {
  0% {
    text-shadow: 15px 15px 10px rgba(255, 215, 0, 0.5);
  }
  100% {
    text-shadow: 0 0 rgba(255, 215, 0, 0.5);
  }
}

@keyframes bounce-shadow {
  0% {
    text-shadow: 15px 15px 10px rgba(255, 215, 0, 0.5);
  }
  100% {
    text-shadow: 0 0 rgba(255, 215, 0, 0.5);
  }
}

body > header {
  padding-bottom: 0.5em;
}

body > header h1 {
  display: block;
  text-shadow: 15px 15px 10px rgba(255, 215, 0, 0.5);
  -webkit-animation: bounce-shadow 1s infinite alternate;
  -moz-animation: bounce-shadow 1s infinite alternate;
  animation: bounce-shadow 1s infinite alternate;
}

body > header h1 a, body > header h1 a:visited, body > header h1 a:hover {
  padding: 0.5em 0;
}

body > header h1 .msg {
  display: none;
}

body > header h1 .msg a {
  color: blue;
  text-decoration: underline;
}

body > header h1:hover .msg {
  display: inline-block;
  top: 1.5em;
  left: 5em;
  border-radius: 1em;
  padding: 0.25em 2em;
  max-width: 50%;
  font-size: 0.8rem;
  color: blue;
  background: yellow;
  background: rgba(255, 255, 0, 0.8);
}
*/